.teams {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
}
.home {
    background-image: url('./../Images/banner.png');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: #0b1612;
}
.home h1 {
    font-size: 43px;
    margin-top: 00px;
    padding-top: 135px;
}
.card-sizing {
    padding-top: 10px;
}
.box {
    padding-top: 170px;
}
@media (max-width: 500px) {
    .teams {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
    }
    .home {
        background-image: none;
    }
    .home h1 {
        font-size: 30px;
        padding-top: 20px;
        color: aliceblue;
    }
    .box {
        padding: 0px;
    }
    .card-sizing {
        padding-left: 65px;
    }
}
@media (max-width: 375px) {
    .card-sizing {
        padding-left: 40px;
    }
}
@media (max-width: 320px) {
    .card-sizing {
        padding-left: 10px;
    }
}
